<dropdown [items]="categories" [currentItem]="currentCategory" (currentItemChange)="setCurrentCategory($event)"> </dropdown>
<div *ngFor="let product of products">
    <div *ngIf="thisCategory(product)" [ngClass]="getClass(product)">
        <div class="id">{{product.id}}</div>
        <div class="name" (click)="onSelect(product)">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <button *ngIf="canDelete" (click)="delete(product)">Delete</button>
    </div>
</div>
<router-outlet></router-outlet>