<dropdown [items]="categories" [currentItem]="currentCategory" (currentItemChange)="setCurrentCategory($event)"> </dropdown>
<add-product (productAdded)="productAdded($event)"></add-product>

<div *ngFor="let product of products">
    <div *ngIf="thisCategory(product)" [ngClass]="getClass(product)">
        <div class="id">{{product.id}}</div>
        <div class="name" (click)="onSelect(product)">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <button (click)="delete(product)">Delete</button>
    </div>
</div>